<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{{title}}</title>
<meta name="keywords" content="{{title}}" />
<meta name="description" content="{{title}}" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/public/board/style/wxwall.css?v0525" />
<link rel="stylesheet" href="/public/css/font-awesome.min.css?v0525" />
<!--[if IE 7 ]><link rel="stylesheet" href="/public/css/font-awesome-ie7.min.css" /><![endif]-->
<script>
	function GetQueryString(name){
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null)return  unescape(r[2]); return null;
	};

	(function(W){
		if(/iphone|nokia|sony|ericsson|mot|samsung|sgh|lg|philips|panasonic|alcatel|lenovo|cldc|midp|wap|mobile/i.test(navigator.userAgent.toLowerCase())){  
			W.location.href = '//check.xiaoxiaoge.com/?eid=' + GetQueryString("eid") || '5a9d0186f3ffd900440623dd';
		}
	})(window);
	</script>
</head>

{% if result.boardBgimg %}
<body class="page-index" oncontextmenu="self.event.returnValue=false" style="background-image: url({{ result.boardBgimg }});">
{% else %}
<body class="page-index" oncontextmenu="self.event.returnValue=false">
{% endif %}
	<div class="main">
		<div class="content">
			<div class="join-info m">
				<div class="b-code" id="qrcode"></div>
				<div class="b-title">
					<div class="notice-short">
						<h5 class="txt">hi，欢迎来到现场~欢迎扫码签到</h5>
						<!-- <h6 class="desc">更有抽奖活动等着你</h6> -->
						<div class="signnum"><a href="javascrip:;">已签到 : <span id="checkednum"><i class="icon-spinner icon-spin"></i></span>人</a>{% if result.openLottery %}<span class="btn-lottory">开始抽奖</span>{% endif %}</div>
					</div>
				</div>
			</div>
			<div class="join-users m">
				<ul class="user-list" id="user-list"></ul>
			</div>		
		</div>

		<div class="footer">
			<a onclick="return fullscreen();" class="wsh-beak-link">
				<img src="/public/board/style/images/fullscreen.png" id="imgfull" alt="full" class="wsh-beak wsh-beak-hov">
				<img src="/public/board/style/images/fullscreenfont.png" id="imgfullfont" class="wsh-beak-tips">
			</a>
		</div>
		<div class="copyright">build with Leancloud/nodejs</div>
	</div>

{% if result.openLottery %}
{% if result.lotteryType != 'group' %}
<div class="lottery lottery-single" id="layout-lottery" style="display:none;">
{% else %}
<div class="lottery" id="layout-lottery" style="display:none;">
{% endif %}

	<ul class="lotlist-user" id="lotlist-user"></ul>

	<span class="rock-head"><img src="/public/board/style/images/luck.png" class="lotteryImg"><!-- <i class="crown"></i> --></span>
	<span class="rock-name lotteryName">祝好运！</span>
	<p class="btn-rock"><a href="javascript:void(0);" class="btn-start" id="lottery-beg">开始抽奖</a></p>
	<a href="javascript:;" class="btn-close">关闭</a>
</div>
{% endif %}

<script src="/public/board/js/jquery.min.js"></script>
<script src="/public/board/js/fullscreen.js"></script>
<script src="/public/board/js/common.js"></script>
<script src="/public/board/js/jquery.qrcode.min_1.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/web-animations/latest/web-animations.min.js"></script> 兼容WEB API的polyfill -->
{% if result.openLottery && result.lotteryType != 'group' %}
<script src="/public/board/js/media.js"></script>
{% endif %}
<script>

//设置唯一ID
var eid = GetQueryString("eid") ? GetQueryString("eid") : '5a9d0186f3ffd900440623dd';
var countNum = 0; //初始签入人数
var firstID = ''; //最新签入人的识别id，取openid
var cacheInterval;
var checkInUser = [];  // ws签入的用户缓存

$(function(){
	$('#qrcode').qrcode({
		width: 160, 
		height: 160,
		text: window.location.href
	});

	//新用户动画
	function setLayoutTemp(data){
		var $item = $("#user-list .item"),
			$itemFirst = $("#user-list .item:first-child");
		var itemLeft = $itemFirst.offset().left,
			itemTop = $itemFirst.offset().top;

		var contTemp = '<img src="'+data['headimgurl']+'" alt="'+data['nickname']+'" />'
								+'<span class="nickname">'+data['nickname']+'</span>'
								+'<span class="time">'+data['time']+'</span>'
								+'<div class="talks">'+data['talks']+'</div>';

		var layoutTemp = '<div class="user-layout" id="user-layout">'+contTemp+'</div>';
		$("body").append(layoutTemp);

		setTimeout(function(){
			$("#user-layout").css({
				"left" : parseInt(itemLeft - 450),
				"top" : itemTop
			});
			$itemFirst.css({
				"marginLeft" : 200
			});
		}, 1600);//600ms后移动 ，popShow的动画时间

		//重设用户list
		setTimeout(function(){
			$("#user-layout").remove();
			$("#user-list").find(".item-holder").remove();
			$itemFirst.css({
				"marginLeft" : 30,
				"webkitTransition" : "none"
			});
			var newTemp = '<li class="item sign-lottery">'+contTemp+'</li>';
			$("#user-list").prepend(newTemp);
		}, 2800); //这个是移动新用户的动画时间
	};

	//随机设置说话
	function randomTalks(){
		var $item = $("#user-list .item");
			$item.removeClass("item-random");

		//这里用已签入人数作为随机数显示说说
		var ran = Math.random() * countNum >> 0;

		$item.eq(ran).addClass("item-random");
	};

	//拉取新用户
	function getNewUser(){
		$.ajax({
			url: "/getcheck",
			type: "GET",
			data: {
				eid: eid
			},
			timeout: 3200,
			success: function (result) {
				if (result.code !== 200) {
					$("#user-list").html('<li class="item item-holder"><em class="unit">:( 网络错误，请刷新~</em></li>');
					clearInterval(cacheInterval);
					return;
				}

				if (result.data.length === 0) return;

				// $("#user-list .item-holder").removeClass('item-holder');//移除掉提示

				//这里防止短时间内频繁签入的时候，漏掉第一个以外的新用户，要重新init现有web端list
				if (result.count >= Number(countNum + 3)) {
					relistDom(result.data);
				};

				var dataFirst = result.data[0],
					deteckName = $("#user-list .item:first-child").find(".nickname").text();

				//第一个不同，有新签入
				if (dataFirst['nickname'] != deteckName){
					countNum++;
					$("#checkednum").html(countNum);
					setLayoutTemp(dataFirst);
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				window.location.reload;
			}
		});
	};

	//拉取新用户
	function getNewUserByarr(){
		if (checkInUser.length === 0){
			console.log('没有新用户签入了');
			return;
		}

		//更新签入人数
		countNum++;
		$("#checkednum").html(countNum);

		//渲染模板
		setLayoutTemp(checkInUser[0].data);

		//删掉第一个已经渲染了的元素
		checkInUser = checkInUser.splice(1);
	};

	//relist dom
	function relistDom(data){
		var _tpl = '';
			_countNum = data.length;
		for (var i = 0; i < data.length; i++) {
			_tpl += '<li class="item sign-lottery"><img src="'+data[i]['headimgurl']+'" alt="'+data[i]['nickname']+'" />'
					+'<span class="nickname">'+data[i]['nickname']+'</span>'
					+'<span class="time">'+data[i]['time']+'</span>'
					+'<div class="talks">'+data[i]['talks']+'</div></li>';
		};
		$("#user-list").append(_tpl);
		$("#checkednum").html(_countNum);
	};

	//init
	function initTemp(){
		$.ajax({
			url: "/getcheck",
			type: "GET",
			data: {
				"eid" : eid
			},
			timeout: 5000,
			beforeSend: function(){
				$("#user-list").html('<li class="item item-holder"><em class="unit"><i class="icon-spinner icon-spin"></i></em></li>');
			},
			success: function (result) {
				if (result.code === 101) {
					$("#user-list").html('<li class="item item-holder"><em class="unit">活动id不存在，请联系管理员</em></li>');
					return;
				}

				if (result.code !== 200) {
					$("#user-list").html('<li class="item item-holder"><em class="unit">:( 网络错误，请刷新后重试</em></li>');
					return;
				}

				//如果签到为0，还没开始
				if (result.count === 0) {
					$("#user-list").html('<li class="item item-holder"><em class="unit">:( 还没有人签到呢</em></li>');
					$("#checkednum").html(0);

					//设置全局变量，更新已签到人数和第一位的识别ID，用于在后台查询是否有新签入
					countNum = result.count;

					//设置定时器拉取数据
					cacheInterval = setInterval(getNewUserByarr, 3300);
					//3s设置一次随机显示说说
					setInterval(randomTalks, 3000);
					return;
				}

				$("#user-list .item-holder").remove();//移除掉提示
				var tpl = '', 
					userData = result.data;
				for (var i = 0; i < userData.length; i++) {
					tpl += '<li class="item sign-lottery"><img src="'+userData[i]['headimgurl']+'" alt="'+userData[i]['nickname']+'" />'
							+'<span class="nickname">'+userData[i]['nickname']+'</span>'
							+'<span class="time">'+userData[i]['time']+'</span>'
							+'<div class="talks">'+userData[i]['talks']+'</div></li>';
				};
				$("#user-list").append(tpl);
				$("#checkednum").html(result.count);

				//设置全局变量，更新已签到人数和第一位的识别ID，用于在后台查询是否有新签入
				countNum = result.count;
				firstID = userData[0].openid;

				//设置定时器拉取数据
				cacheInterval = setInterval(getNewUserByarr, 3300);
				//3s设置一次随机显示说说
				setInterval(randomTalks, 3000);
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert("发生网络错误，请重试 :（ "+textStatus);
			}
		});
	};
	initTemp();

	/**
	* 抽奖程序：by goochin
	*/

	//显示浮层调试
	if (location.hash.indexOf("lottery") != -1) {
		$("#layout-lottery").show();
		// alert('调试模式~');
	}
	//清除本地存储
	if (location.hash.indexOf("clear") != -1) {
		localStorage.removeItem('lotteryUserList');
		// localStorage.removeItem('lotteryUserSingle');
		alert('清除本地缓存成功~');
		window.location.href = '/board?eid='+eid;
	}

	//初始化中奖list 数量
	var giftnum = {{result.setgift || 0}} || 5;
	if (!localStorage.getItem("lottery_" + eid)) {
		var _tpl = '';
		for (var i = 0; i < giftnum; i++) {
			_tpl += '<li class="item sign-lottery"><span class="avatar"><img src="/public/board/style/images/luck-ho.png"></span><span class="nickname"></span></li>';
		}
		$("#lotlist-user").html(_tpl);
	}

	$(".btn-lottory").bind("click", function(){
		{% if result.lotteryType == 'group' %}
		//签到数量小于设定中奖人数，返回不操作
		if ($("#user-list .item").size() < giftnum) {return;}
		{% endif %}

		$("#layout-lottery").show();
	});
	$("#layout-lottery .btn-close").bind("click", function(){
		$("#layout-lottery").hide();
	});

	//已经参与过抽奖任务
	if (localStorage.getItem("lottery_" + eid)) {
		$("#layout-lottery").show();
		var userListArr = JSON.parse(localStorage.getItem("lottery_" + eid));

		var tplUserList = '';
		for (var i = 0; i < userListArr.length; i++) {
			tplUserList += '<li class="item">'
					+'<span class="avatar"><img src="'+userListArr[i].avatar+'"></span>'
					+'<span class="nickname">'+userListArr[i].name+'</span>'
				+'</li>';
		}
		$("#lotlist-user").html(tplUserList);

		$(".lotteryName").html("抽奖结束！欢迎下次再来");
		$(".btn-rock").hide();
		// $("#lottery-beg").text('重新抽奖');
	}

	//单个抽奖初始化
	// if (GetQueryString("action") && GetQueryString("action") == 'single') {
	// 	$(".lottery").addClass("lottery-single");
		// if (localStorage.getItem("lotteryUserSingle")) {
		// 	$("#layout-lottery").show();

		// 	//单个抽奖结束了
		// 	$(".btn-rock").hide();
		// 	var lusArr = localStorage.getItem("lotteryUserSingle").split(',');
		// 	$(".lotteryImg").attr("src", lusArr[0]);
		// 	$(".lotteryName").html("恭喜中奖者："+lusArr[1]);

		// 	$(".rock-head").addClass("item-popup");
		// 	$(".rock-head").append('<i class="crown"></i>');

		// 	var video = document.getElementById('bgvideo');
		// 	video.play();

		// 	$("#sineCanvas").show();
		// }
	// }

	var lotteryCache,  //定时器缓存
		lotInit = 0,   //签入的用户数初始化
		listNum = 0;   //中奖用户位置初始化

	$("#lottery-beg").on("click", function(){
		var manSize = $("#user-list .sign-lottery").size();

		//单个抽奖
		{% if result.lotteryType != 'group' %}
			if ($("#lottery-beg").text() == '恭喜中奖者！') {return;}
			lotteryFucSingle(manSize);
		{% else %}
			//抽多个list
			lotteryFucList(manSize);
		{% endif %}
	});
	function lotteryFucList(maxNum){
		console.log('maxNum_ :'+maxNum);
		if (listNum == $("#lotlist-user .item").size()) {
			alert('已经抽奖完了 ：）');
			return;
		}

		if ($("#lottery-beg").text() == '开始抽奖') {
			$(".rock-head").removeClass("item-popup");

			$("#lottery-beg").text('停止');

			lotteryCache = setInterval(function(){
				if (lotInit >= maxNum) {
					lotInit = 0;
				};

				var img = $("#user-list .sign-lottery").eq(lotInit).find('img').attr("src"),
					name = $("#user-list .sign-lottery").eq(lotInit).find('.nickname').text();
				$(".lotteryImg").attr("src", img);
				$(".lotteryName").html(name);
				lotInit++;
			}, 90);

		}else{
			//点击停止
			$("#lottery-beg").text('开始抽奖');
			clearInterval(lotteryCache);

			var newImg = $("#user-list .sign-lottery").eq(lotInit-1).find('img').attr("src"),
				newName = $("#user-list .sign-lottery").eq(lotInit-1).find('.nickname').text();

			//去掉抽奖标识
			$("#user-list .sign-lottery").eq(lotInit-1).removeClass("sign-lottery");

			$("#lotlist-user .item").eq(listNum).find('img').attr("src", newImg);
			$("#lotlist-user .item").eq(listNum).find('.nickname').text(newName);

			$(".rock-head").addClass("item-popup");
			$("#lotlist-user .item").eq(listNum).addClass("item-popup-lol");

			listNum++;

			var listArr = []
			for (var i = 0; i < $("#lotlist-user .item-popup-lol").size(); i++) {
				var _this = $("#lotlist-user .item-popup-lol").eq(i);
				listArr.push({
					name: _this.find(".nickname").text(),
					avatar:  _this.find("img").attr("src")
				});
			}
			
			localStorage.setItem("lottery_" + eid, JSON.stringify(listArr));
		}

	};

	function lotteryFucSingle(maxNum){
		if ($("#lottery-beg").text() == '开始抽奖') {
			$("#lottery-beg").text('停止');

			lotteryCache = setInterval(function(){
				if (lotInit >= maxNum) {
					lotInit = 0;
				};

				var img = $("#user-list .sign-lottery").eq(lotInit).find('img').attr("src"),
					name = $("#user-list .sign-lottery").eq(lotInit).find('.nickname').text();
				$(".lotteryImg").attr("src", img);
				$(".lotteryName").html(name);
				lotInit++;
			}, 90);

		}else{
			//点击停止
			$("#lottery-beg").text('恭喜中奖者！');
			clearInterval(lotteryCache);

			if (GetQueryString('bd') ){
				var door = GetQueryString('bd'),
					bd_img = $("#user-list .sign-lottery").eq(Number(door-1)).find('img').attr("src"),
					bd_name = $("#user-list .sign-lottery").eq(Number(door-1)).find('.nickname').text();

				$(".lotteryImg").attr("src", bd_img);
				$(".lotteryName").html(bd_name);
			}

			$(".rock-head").addClass("item-popup");
			$(".rock-head").append('<i class="crown"></i>');

			/**
			* 这里执行canvas和audio
			*/

			$("#sineCanvas").show();

			var audio = document.getElementById('bgvideo');
			audio.play();

			// var singleArr = [$(".lotteryImg").attr("src"), $(".lotteryName").text()];
			// localStorage.setItem("lotteryUserSingle", singleArr)

		}

	};

	function getRandomColor(){
		return '#'+('00000'+(Math.random()*0xffffff <<0).toString(16)).substr(-6); 
	};

	function loaddanmutext(data){
		var userinfo = data.data,
			danmutxt = data.danmutxt,
			_now = new Date().getTime(),
			random = Math.random() * 70 >> 0,
			color = getRandomColor(),

			wwidth = document.body.clientWidth,
			animatime = 14 * 1000;  //14s

		var tpl = '<div class="mod-danmuser" id="danmu-'+_now+'" style="top: '+Number(5+random)+'%;">'
						+'<span class="avatar"><img src="'+userinfo.headimgurl+'" /></span>'
						+'<span class="txt" style="color: '+color+'">'+danmutxt+'</span>'
					+'</div>';

		$("body").append(tpl);

		var danmuw = $('#danmu-'+_now).width();

		//如果不支持web api添加css动画做polyfill
		if (!document.getElementById('danmu-'+_now).animate) {
			$(".mod-danmuser").addClass('anm-fly');
		}

		document.getElementById('danmu-'+_now).animate([
			// keyframes
			{
				transform: 'translateX(0px)'
			}, 
			{
				transform: 'translateX(-'+Number(wwidth + danmuw + 200)+'px)'
			}
			], { 
			// timing options
			duration: animatime,
			iterations: 1
		})

		setTimeout(function(){
			$("body").find($("#danmu-"+_now)).remove();
		}, animatime + 5000); //s后删除该浮层
	};

	var ws = new WebSocket(getwsurl());
	//成功连接
	ws.onopen = function (e) {
		console.log('连接到ws端口成功~');
		//身份验证
		ws.send(JSON.stringify({role: 'board', eid: eid}));
	}
	ws.onmessage = function(event) {
		var _data = JSON.parse(event.data);

		if (_data.type && _data.type === 'danmu') {
			//弹幕业务逻辑
			loaddanmutext(_data);
		}else{
			checkInUser.push(_data);
			console.log(checkInUser);
		}
	};
	ws.onclose = function (e) {
		console.log('ws 关闭。');
		window.location.reload();
	}

});
</script>
</body>
</html>