<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>签到上墙</title>
<meta name="keywords" content="签到上墙" />
<meta name="description" content="签到上墙" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/font-awesome.min.css" />
<!--[if IE 7 ]><link rel="stylesheet" href="/public/css/font-awesome-ie7.min.css" /><![endif]-->
</head>

<body>

<section class="container" id="container">
	<span class="avatar" id="avatar"><img src="/public/img/default-avatar.png" id="user-avatar" alt="" /><input type="file" name="file" id="file" class="ava-btn" /></span>
	<p class="notice">hi~<span id="name1"></span>欢迎来到现场</p>
	<div class="detail" id="sbm-detail">
		<ul class="formlist">
			<li class="item">
				<i class="icon-user"></i>
				<input type="text" id="name2" placeholder="你的名字" />
			</li>
			<li class="item">
				<i class="icon-pushpin"></i>
				<input type="text" id="title" placeholder="描述职位" />
			</li>
			<li class="item">
				<i class="icon-quote-left"></i>
				<input type="text" id="talks" placeholder="说点什么吧 :)" />
			</li>
		</ul>
		<button type="submit" class="submit" id="btn-submsign">签到</button>
	</div>
</section>

<section class="footer">damn cody by goochin</section>

<script src="/public/js/zepto.js"></script>
<script src="/public/js/common.js"></script>
<script>
$(function(){
	var succsign = '<div class="vertical sign-success" id="tips-success"><i class="icon-check"></i><span class="txt">恭喜你，签到成功~ ：）</span><p class="desc"><a href="/"><i class="icon-double-angle-left"></i>返回</a></p></div>';
	var signid = GetQueryString("state") ? GetQueryString("state") : 'meeting';


	$("body").delegate("#btn-submsign", "click", function(){
		var time = new Date().getTime();
		//阻止多次点击提交
		if ($(this).hasClass("btn-disable")){
			alert("正在提交，别急~");
			return;
		};

		//设置状态
		$(this).addClass("btn-disable").attr("disable","disabled");

		//数据
		var headimgurl = encodeURIComponent($("#user-avatar").attr("src")),
			nickname = $("#name2").val()
			title = $("#title").val() != '' ? $("#title").val() : 'notitle',
			talks = $("#talks").val() != '' ? $("#talks").val() : '我来啦~希望能抽个大奖',
			_time = new Date(time).toString().split(" ")[4];

		//提交过无法再次提交
		if (localStorage.getItem("userDetail")) {
			var deteckUser = JSON.parse(localStorage.getItem("userDetail"))['nickname'];
			// console.log(deteckUser);
			if (deteckUser === nickname) {
				alert("您已签到过~ 祝您好运 :)");
				return;
			};
		};

		// 本地存数据
		var details = {
			"type" : "set",
			"signid" : signid,
			"headimgurl" : headimgurl,
			"nickname" : nickname,
			"title" : title,
			"talks" : talks,
			"time" : _time
		};
		localStorage.setItem("userDetail", JSON.stringify(details));
		
		$.ajax({
			url: "memdata.php",
			type: "GET",
			data: details,
			timeout: 5000,
			beforeSend: function(){
				$("#container").append('<div class="vertical ver-loading" id="loading"><i class="icon-spinner icon-spin"></i></div>');
			},
			success: function (result) {
				if (result.indexOf('success') !== -1){
					$("#loading").remove();
					$("#container").append(succsign);
				}
			},
			error: function (jqXHR, textStatus, errorThrown) {
				alert("发生网络错误，请重试 :（ "+textStatus);
			}
		});
	});

	function deteckImg(obj){
		//检测格式后缀名
		var patn = /\.jpg$|\.jpeg$|\.gif$|\.png$/i;

		//检测文件大小
		var file = obj.files[0];

		if(!obj || !obj.value){
			return;
		}else if (!patn.test(obj.value)) {
			alert("上传的图片格式仅限jpg/jpeg/png/gif");
			return;
		}else if( file.size > 1 * 1024 * 1024 ){//用size属性判断文件大小不能超过1mb 
			alert( "你上传的文件太大了！最佳不超过3Mb且正方形");
			return;
		}else{
			var formData = new FormData();//构造空对象，下面用append 方法赋值。  
				formData.append("userAvatar", file);

			$.ajax({
				url : 'upload.php',
				type : 'POST',
				data : formData,
				/**
				 * 必须false才会避开jQuery对 formdata 的默认处理
				 * XMLHttpRequest会对 formdata 进行正确的处理
				 */  
				processData : false,
				/**
				 *必须false才会自动加上正确的Content-Type
				 */  
				contentType : false,
				beforeSend: function(){
					$("#avatar").append('<span class="txt" id="txt-state">上传中...</span>');
				},
				success : function(responseStr) {
					$("#txt-state").html('上传图片成功 :)');
					setTimeout(function(){
						$("#txt-state").remove();
					}, 1500);

					var imgurl = $.evalJSON(responseStr);
					$("#user-avatar").attr("src", imgurl['headimgurl']);

					console.log(imgurl);
				},
				error: function (jqXHR, textStatus, errorThrown) {
					alert("发生网络错误，请重试 :（ "+textStatus);
				}
			});
		}
	};

	//监听file事件
	document.getElementById("file").addEventListener("change", function(){
		deteckImg(this);
	});
});
</script>
</body>
</html>